.projectspage {
    min-height: 100vh;
    background-color: #0a192f;
    overflow-x: hidden;
}

.twopages {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    color: rgb(180, 180, 180);
    overflow-x: hidden;
    width: 200vw;
}

.page {
    flex: 1;
    padding: 5vh 10vw;
}

.project-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-detail.active {
    transform: translateX(-100vw);
    transition: 0.8s;
}

.project-detail:not(.active) {
    transform: translateX(0);
    transition: 0.8s;
}

.projects-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-body:not(.active) {
    transform: translateX(-100vw);
    transition: 0.8s;
}

.projects-body.active {
    transform: translateX(0); 
    transition: 0.8s;
}

.page h1 {
    margin: 5px;
}

.projects-body h2 {
    margin: 5px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.project-box {
    width: 20vw;
    height: 35vh;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    margin: 0px 25px 50px 25px;
    transition: 0.4s;
    background-color: #0a192f;
    filter: brightness(1.5);
    
    /* position: relative; */
}

.project-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}

.project-box button {
    /* margin: 0px 10px; */
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
    /* position: absolute;
    bottom: 0; */
}

.project-box button:hover {
    background-color: black;
    color: white;
}

.projects-body h2 {
    margin-top: 25px;
    filter: brightness(1.5);
}

.button-link {
    padding: 10px 20px;
    background-color: #0a192f;
    filter: brightness(1.5);
    color: lightgray;
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    margin: 0px 25px 50px 25px;
}

.button-link:hover {
    background-color: black;
    color: white;
}

.back-button {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #0a192f;
    filter: brightness(1.5);
    color: lightgray;
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.3s ease;    
}


