.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 2.5rem;
  padding: 0 20px;
  margin: 0 10px;
}

.app-container {
  background-color: rgb(18, 18, 18);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(150, 150, 150);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15vw;
  font-size: 25px;
}


.app h1 {
  margin: 0;
  color: rgb(224, 224, 224);
}

.app h2 {
  color: rgb(200, 200, 200);
}

.app h3 {
  color: rgb(180, 180, 180);
}

.app h4 {
  color: rgb(160, 160, 160);
}

.app p {
  margin-top: 0;
}

.choice-buttons button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project {
  margin-bottom: 80px;
}

.project-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.links a {
  margin-right: 40px;
}